ul.social
	li.github
		a(href="https://github.com/taylorhakes" target="_blank" title="github")
			i.fa.fa-github
	li.twitter
		a(href="https://twitter.com/TaylorHakes" target="_blank" title="twitter")
			i.fa.fa-twitter
	li.linkedin
		a(href="https://www.linkedin.com/in/taylorhakes" target="_blank" title="linkedin")
			i.fa.fa-linkedin
