footer.site-footer.one-column(data-layout="wide")
	.site-footer-wrap
		a.totop-btn
			i.fa.fa-chevron-up
		.footer-social
			include ../social-icons
		.copyright
			p
				span Copyright &copy; 2014
				a(href="/")= blog.title
				span All rights reserved.