footer.site-footer.one-colum(data-layout="wide")
  .site-footer-wrap
    a.totop-btn
      i.fa.fa-chevron-up
    .footer-social
      include ../social-icons
    .copyright
      p
        span= ('Copyright © ' + (new Date()).getFullYear() + ' ')
        a(href="/")= config.title
        span= ' All rights reserved.'